body {
    background-color: rgb(234, 224, 205);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    color: rgb(135, 83, 161);
    text-align: center;
}

.goto {
    background-color: rgb(62, 187, 215);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    transition: background-color 0.2s ease;
    
}
.goto:hover {
    background-color: rgb(20, 20, 20);
}
.goto:active {
    background-color: rgb(155, 26, 114);
}
form {
    width: 350px;
}
fieldset {
    border: 1px solid rgb(137, 135, 137);
    border-radius: 1px;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr; /* Define las columnas: etiqueta y input */
    gap: 5px 20px;
}
section {
    width: 300px;
}
form .submit {
    margin: 5px;
    display: grid;
    padding-inline: 40px;
}
footer p {
    text-align: center;
}
