:root {
    --flyZindex: 80;
    --blueZindex: 70;
    --redZindex: 60;
    --yellowZindex: 50;
    --waitingBlueZindex: 40;
    --waitingRedZindex: 30;
    /* --waitingYellowZindex: 20; */
    --animationDuration: 2s;
}

section {
    padding-top: 300px;
}

div.card {
    border: 1px solid black;
    width: 130px;
    height: 150px;
    box-shadow: 0 0 5px black;
    position: relative;
    animation-duration: var(--animationDuration);
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
div:first-child {
    background-color: yellow;
    z-index: var(--yellowZindex);
    top: 0px;
    animation-name: shuffleYellow;
}
div:nth-child(2) {
    background-color: red;
    z-index: var(--redZindex);
    top: -150px;
    animation-name: shuffleRed;
}
div:nth-child(3) {
    background-color: blue;
    z-index: var(--blueZindex);
    top: -300px;
    animation-name: shuffleBlue;
}

@keyframes shuffleBlue {
    0% {
        top: -300px;
    }
    50% {
        top: -500px;
        z-index: var(--flyZindex);
    }
    51% {
        top: -500px;
        z-index: 1;
    }
    100% {
        top: -300px;
        z-index: 1;
    }
}
@keyframes shuffleRed {
    0% {
        top: -150px;
    }
    50% {
        top: -350px;
        z-index: var(--flyZindex);
    }
    51% {
        top: -350px;
        z-index: 1;
    }
    100% {
        top: -150px;
        z-index: 1;
    }
}
@keyframes shuffleYellow {
    0% {
        top: 0px;
    }
    50% {
        top: -200px;
        z-index: var(--flyZindex);
    }
    51% {
        top: -200px;
        z-index: 1;
    }
    100% {
        top: 0px;
        z-index: 1;
    }
}

